@charset "UTF-8";

body {
    background-color: lightblue;
    font: normal 1.2em Arial;
    color: black;
}

header {
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.315);
}

section > div {
    text-align: center;
    padding: 10px;
    color: black;
    font-size: 1em;
}

section > div > img {
    height: 250px;
    width: 250px;
}

footer {
    text-align: center;
    font-style: italic;
}