@charset "UTF-8";

body {
    font: normal 1.2em Arial;
    color: white;
}

header {
    text-align: center;
}

main {
    height: 100vh;
    position: relative;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.315);
    height: 400px;
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

section > div {
    text-align: center;
    padding: 10px;
    color: black;
    font-size: 3em;
}

section > div > img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}